body {
    background-color: #190a1c;
}

/* Largest header: Website Titles */
h1 {
    color: #FFFFFF;
    font-family: helvetica;
    font-size: 40px;
    line-height: 20px;
    text-align: center;
}

/* Next Largest Header: Article Titles */
h2 {
    color: #FFFFFF;
    font-family: helvetica;
    font-size: 25px;
    line-height: 25px;
    text-align: center;
}

/* Smaller "Header": Article Descriptions */
h3 {
    color: #FFFFFF;
    font-family: helvetica;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    margin: 15px;
}

/* Tiny Header: Dates & Smaller Article Details */
h4 {
    color: #FFFFFF;
    font-family: helvetica;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
}

/* Standard Text */
p {
    color: #FFFFFF;
    font-family: helvetica;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    margin: 25px;
}

/* Links */
a {
    color: #de7ddc;
}

/* When I want no linebreak space */
.no_br {
    display: block;
    margin-top: -10px;
}

/* When I want stuff at the bottom of the page */
.bottom_content {
    text-align: center;
    position: fixed;
    bottom: 0px;
    width: 93%;
}