* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #0A0E1C;
    color: #FFFFFF;
    font-family: helvetica;
    margin-inline: 25px;
}

/* Largest header: Website Titles */
h1 {
    font-size: 40px;
}

/* Next Largest Header: Article Titles */
h2 {
    font-size: 30px;
}

/* Smaller "Header": Article Descriptions */
h3 {
    font-size: 25px;
}

/* Tiny Header: Dates & Smaller Article Details */
h4 {
    font-size: 18px;
}

h1, h2, h3, h4 {
    text-align: center;
}

/* Subject Header: Intros to Paragraphs */
h5 {
    font-size: 20px;
}

/* Standard Text */
p {
    font-size: 19px;
}

h1, h2, h3, h4, h5, h6, p, li {
    margin-block: 35px;
}

/* Links */
a {
    color: #7DA9DE;
}

/* When I want no linebreak space */
.no_br {
    margin-block : 0;
    margin-top : -30px;
    display: block;
}

/* When I want stuff at the bottom of the page */
/* .bottom_content {
    text-align: center;
    position: fixed;
    bottom: 0px;
    width: (50em-50px);
} */

main { 
    max-width: 50em;
    margin: 0px auto;
}


/* Fix list element default overflow */

li {
    list-style-position: inside;
}

li p{
    display: inline;
}